*{
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
} 
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

/* Background image and Animation section */
.background--img{
      height: 60vh;  
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation-name: ImageAnimation;
      animation-duration: 20s;
      animation-iteration-count: infinite;
}
@keyframes ImageAnimation{
  0%{
    background-image: url(images/img1.jpeg);
  }
  25%{
    background-image: url(images/img2.jpeg);
  }
  50%{
    background-image: url(images/img1.jpeg);
  }
  75%{
    background-image: url(images/img2.jpeg);
  }
  100%{
    background-image: url(images/img1.jpeg);
  }
}


/* Branding Section */
.headings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.branding{
  margin-top: 2.5rem;
  margin-left: 2.5rem;
 
}
.herrand-logo {
  height: 5rem;
  width: 13rem;
}

/* Greeting Section */
.herrand--greeting{
 color: #fff;
 font-size: 2rem;
 margin-top: 3rem;
 margin-right: 2.5rem;
}

/* Main Text Section */
.main--text{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  padding: 3rem;
}
.mobile-text{
  visibility: hidden;
}

.main--text h1{
  font-size: 4.5rem;
  margin-bottom: 2.5rem;
}
.desktop-text{
  font-size: 1.6rem;
  margin-bottom: -2rem;
}
.main--text h3{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  animation: moveInButtom 1s ease-out .75s;
  animation-fill-mode: backwards;
}


/* Animation */
@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }


/* Contact Us Section */
.herrands--container{
  height: 40vh;
  background-image: linear-gradient(to right bottom, #26344f,#fff);
  color: white;
}
.herrand-img{
  margin-top: -12rem;
  height: auto;
  margin-left: 10rem;
  width: 100%;
  max-width: 48rem;

}
.contact-box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -25rem;
  margin-right: 20rem;
}

/* buttons */
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.4rem 3.5rem;
  display: inline-block;
  border-radius: 0.6rem;
  transition: all .2s;
  position: relative;
  font-weight: 600;
  font-size: 1.6rem;
 }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}
.btn:active {
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
 }
.btn--white {
  background-color: #fff;
  color: #26344f;
  margin-left: 24rem;
  border: 0.1rem solid #26344f;
 }
.btn--blue {
  background-color: #26344f;
  color: #fff;
  border: 0.1rem solid #26344f;
}

.herrands-form-text{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2.56rem;
  color: #26344f;
}
.herrands-contact-text{
  color: #26344f;
  display: flex;
  font-weight: 600;
  font-size: 1.45rem;
  
}
.herrands-contact-text p{
  margin-left: 22rem;
}