/* Media Query */
@media screen and (max-width:1200px) {
  html {
      font-size: 50%;
    } 
    .herrand-img{
      margin-left: 6rem;
    }
    .contact-box{
      margin-right: 12rem;
    }
  }
  @media screen and (max-width:1050px) {
    html {
      font-size: 48%;
    } 
    .herrand-img{
      margin-left: 4rem;
    }
    .contact-box{
      margin-right: 8rem;
    }
  }
  @media screen and (max-width: 992px) {
    html {
      font-size: 45%;
    }
   }
   @media (max-width: 767px) {
    html {
      font-size: 42%;
    }
    .herrand-img{
      margin-left: 1rem;
    }
   }
   @media screen and (max-width: 700px) {
    html {
      font-size: 40%;
    }
    .herrand-img{
      margin-left: 0rem;
      margin-top: -20rem;
      max-width: 40rem;
      margin-left: 0;
    }
    .image-container{
      text-align: center;
     
    }
    .contact-box{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column ;
      align-items: center;
      margin-top: 1rem;
      margin-right: 0;
    }
    .herrands-contact-text p{
      margin-left: 12rem;
      margin-right: 11.5rem;
    }
    .main--text h1{
      margin-bottom: 4rem;
    }
    .main--text p{
      margin-bottom: 4rem;
    }
   }
   @media (max-width: 576px) {
    html {
      font-size: 36%;
    }
    .headings{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .branding{
      padding-top: 2rem;
      margin-left: 0;
    }
    .herrand-logo {
      height: 10rem;
      width: 20rem;
    }
    .main--text h1{
      margin-bottom: 2rem;
    }
    .main--text h3{
      margin-top: 1rem;
    }
    .desktop-text{
      visibility: hidden;
    }
    .mobile-text{
      visibility: visible;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: rem;
    }
    .herrand-img{
      margin-left: 0rem;
      margin-top: -10rem;
      max-width: 43rem;
      margin-left: 0;
    }
   }
   @media (max-width: 415px) {
    .branding{
      padding-top: 0.2rem;
     
    }
    .mobile-text{
      font-size: 2.1rem;
      margin-top: -8rem;
    }
    html {
      font-size: 36%;
    }
    .main--text h1{
      margin-bottom: -2rem;
    }
    .main--text h3{
      margin-top: -2rem;
    }
    .herrand-img{
      margin-left: 0rem;
      margin-top: -8rem;
      max-width: 25rem;
      margin-left: 0;
    }
    .btn--white {
      margin-left: 15rem;
      margin-right: 0rem;
     }
     .herrands-contact-text p{
      margin-left: 7rem;
      margin-right: 5.5rem;
    }
    .herrands-form-text{
      display: flex;
      font-size: 2rem;
      text-align: center;
      
    }

  
   }
   @media (max-width: 385px) {
    html {
      font-size: 34%;
    }
    .herrand-img{
      margin-left: 0rem;
      margin-top: -10rem;
      max-width: 40rem;
    }
    .mobile-text{
      font-size: 1.8rem;
      margin-top: -8rem;
          }
        }
/* @media screeen and (max-width:1200px) {
    html {
        font-size: 53%;
      } 
      .main--text{
        margin-top: 5rem;
        padding: 2rem;
      }
      .main--text h1{
        font-size: 4rem;
        margin-bottom: 9rem;
      }
      .main--text p{
        font-size: 1.8rem;
        margin-bottom: 7rem;
      }
      .main--text h3{
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
      .herrand-img{
        margin-top: -15rem;
        height: 46rem;
        margin-left: 3rem;
      }
}
@media (max-width:1050px) {
    html {
        font-size: 48%;
      } 
      .main--text{
        margin-top: 1rem;
        padding: 5rem;
      }
      .main--text h1{
        font-size: 4.5rem;
        margin-bottom: 7rem;
      }

      .herrand-img{
        margin-top: -20rem;
        height: 40rem;
        margin-left: 3rem;
      }
      .contact-box{
    
        margin-top: -18rem;
     
      }
}
@media (max-width:900px) {
    html {
        font-size: 41%;
      } 
      .herrand-img{
        margin-top: -15rem;
        height: 45rem;
        margin-left: 0;
      }
      .image-container{
        text-align: center;
        height: 30rem;
      }
      .contact-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column ;
        align-items: center;
        justify-items: center;
        margin-top: -7rem;
        margin-right: 0;
      }
      .btn--white {
        margin-left: 45rem;
       }
      .herrands-form-text{
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 3.5rem;
       
      }
      .herrands-contact-text{
        display: flex;
        font-size: 2.35rem;
        
      }
      .herrands-contact-text p{
        margin-left: 12rem;
        margin-right: 11.5rem;
      }



}
@media (max-width:600px) {
    html {
        font-size: 36%;
      } 
      .headings{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    
      .branding{
        padding-top: 3rem;
        margin-left: 0;
       
      }

      .herrand-img{
        margin-top: -15rem;
        height: 35rem;
        margin-left: 0;
      
      }
      .main--text{
        margin-top: 0rem;
        padding: 1rem;
      }
      .contact-box{
        margin-top: -5rem;
        margin-right: 0;
      }
      .btn--white {
        margin-left: 26rem;
       }
       .herrands-form-text{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.55rem;
       
      }
      .herrands-contact-text{
        font-size: 1.4rem;
        
      }
}
@media (max-width:472px) {
    html {
        font-size: 30%;
      } 
      .branding{
        padding-top: 7rem;
        margin-left: 0;
       
      }
      .main--text{
        margin-top: 5rem;
        padding: 3rem;
      }
      .main--text h1{
        font-size: 4rem;
        margin-bottom: 5.5rem;
      }
      .main--text p{
        font-size: 1.9rem;
        margin-bottom: 5.5rem;
      }
      .main--text h3{
        font-size: 2.7rem;
        margin-bottom: 2rem;
      }
      .herrand-img{
        margin-top: -27rem;
        height: 50rem;
        margin-left: 0;
      
      }
      .btn--white {
        margin-left: 26rem;
       }
      .contact-box{
        margin-top: 4rem;
        margin-right: 0;
      }
}
@media (max-width:395px) {
    html {
        font-size: 28%;
      } 
      .herrand-img{
        margin-top: -25rem;
        height: 46rem;
      
      }
      .contact-box{
        margin-top: 2rem;
        margin-right: 0;
      }
      .btn--white {
        margin-left: 25rem;
       }

}
@media (max-width:335px) {
    html {
        font-size: 26%;
      } 
      .herrand-img{
        margin-top: -6rem;
        height: 35rem;
      
      }
      .contact-box{
        margin-top: -1rem;
        margin-right: 0;
        text-align: center;
      }
      .btn--white {
        margin-left: 15rem;
        margin-right: 0rem;
       }
       .herrands-contact-text p{
        margin-left: 6rem;
        margin-right: 6.5rem;
      }
      .herrands-form-text{
        display: flex;
        font-size: 2rem;
        text-align: center;
        
      }

} */
