/* Media Query */
@media screen and (max-width:1150px) {
  html {
      font-size: 60%;
    } 
    .herrand-img{
      margin-left: 6rem;
    }
    .contact-box{
      margin-right: 12rem;
    }
  }
  @media screen and (max-width:1000px) {
    html {
        font-size: 55%;
      } 
      .herrand-img{
        margin-left: 3rem;
      }
      .contact-box{
        margin-right: 7rem;
      }
    }
    @media screen and (max-width:851px) {
      html {
          font-size: 52%;
        } 
        .herrand-img{
          margin-left: 0;
          margin-top: -15rem;
        }
        .image-container{
          text-align: center;
        }
        .contact-box{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column ;
          align-items: center;
          margin-top: -1rem;
          margin-right: 0;
        }
        .herrands-contact-text p{
          margin-left: 11rem;
          margin-right: 10.85rem;
        }
      }
      @media only screen and (max-device-width : 900px) and (orientation: landscape) {
        html {
          font-size: 38%;
        } 
        .mobile-main-text, 
          .mobile-text{
          visibility: hidden;
          }
        .desktop-main-text{
          margin-top: -3.55rem;
          font-size: 2rem;
          font-weight: 600;
          }
        .desktop-text{
          line-height: 1.5;
          font-size: 1.7rem;
          margin-top: -5rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .main--text h3{
          margin-top: -4rem;
          font-size: 2rem;
        }
        .herrand-img{
          margin-left: 0;
          margin-top: -20rem;
          max-width: 20%;
        }
        .image-container{
          text-align: center;
        }
        .contact-box{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          margin-top: -1rem;
          margin-right: 0;
        }
        .herrands-contact-text p{
          margin-left: 11rem;
          margin-right: 10.85rem;
        }
        .herrands-contact-text p{
          font-weight: 600;
          margin-left: 4rem;
          margin-right: 3.5rem;
        }
        .herrands-form-text{
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          font-weight: 600;
          font-size: 1.7rem;        
        }
        .btn--white {
          margin-left: 10rem;
         }
      }
      @media screen and (max-width:610px) {
        html {
            font-size: 50%;
          } 
          .herrand-img{
            margin-top: -18rem;
          }
          .contact-box{
            margin-top: 1rem;
          }
        }
        @media screen and (max-width:585px) {
          html {
              font-size: 45%;
            } 
            .headings{
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 2.5rem;
            }
            .herrand-img{
              margin-top: -14rem;
            }
            .contact-box{
              margin-top: 1rem;
            }
            .herrand-logo, .herrand--greeting{
              font-size: 2.5rem;
              margin-top: 3rem;
            }
            .desktop-text, .desktop-main-text{
              visibility: hidden;
            }
            .mobile-main-text, 
              .mobile-text{
              visibility: visible;
              }
            .mobile-main-text{
              margin-top: -9rem;
              font-size: 4rem;
              font-weight: 600;
              }
            .mobile-text{
              line-height: 1.5;
              font-size: 1.7rem;
              margin-top: -5rem;
              margin-bottom: 3.5rem;
              font-weight: 400;
            }
            .main--text h3{
              font-size: 2.5rem;

            }
          }
     @media screen and (max-width:585px) {
            html {
                font-size: 42%;
                }
          .mobile-text{
               line-height: 1.5;
                font-size: 1.7rem;
                margin-top: -2rem;
                margin-bottom: 3rem;
           
                }
                .herrands-form-text{
                  margin-top: 2rem;
                  margin-bottom: 2rem;
                  font-weight: 500;
                  font-size: 2.45rem;
                  
                }
                .herrands-contact-text{
                  font-weight: 500;
                  font-size: 1.2rem;
                  
                }
                .herrands-contact-text p{
                  margin-left: 12rem;
                  margin-right: 13rem;
                }
          }
          @media screen and (max-width:485px) {
            html {
                font-size: 40%;
                  }
                  .mobile-text{
                     margin-top: -3rem;
                     margin-bottom: 3rem;
                
                     }

                  .herrands-form-text{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-weight: 500;
                    font-size: 2.2rem;
                    
                  }
                  .btn--white {
                    margin-left: 13rem;
                   }
                  .herrands-contact-text p{
                    margin-left: 10rem;
                    margin-right: 8rem;
                  }
                  .main--text h3{
                    margin-top: 2rem;
                    font-size: 2.5rem;
      
                  }
                  .mobile-text{
                    margin-top: -7rem;
                    margin-bottom: 3rem;
               
                    }
                }
                @media screen and (max-width:415px) {
                  .main--text h3{
                    margin-top: -1rem;
                    font-size: 2.5rem;
                  }
                  .herrand-logo{
                    height: 10rem;
                    width: 20rem;
                    margin-top: 1.2rem;
                  }
                  .herrand--greeting{
                    
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                  }

                  .herrand-img{
                    margin-top: -10rem;
                  }
                  .herrands-contact-text p{
                    font-weight: 600;
                    margin-left: 4rem;
                    margin-right: 5rem;
                  }
                  .herrands-form-text{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    font-size: 1.7rem;        
                  }
                  .btn--white {
                    margin-left: 10rem;
                   }
                }
                @media screen and (max-width:360px) {
                  html {
                    font-size: 36%;
                      }
                  .herrands-form-text{
                    font-size: 1.7rem;          
                  }
                  .herrands-contact-text p{
                    margin-left: 4rem;
                    margin-right: 5rem;
                  }
                }
                @media screen and (max-width:300px) {
                  html {
                    font-size: 34%;
                      }
                  .herrands-form-text{
                    font-size: 1.7rem;          
                  }
                  .herrands-contact-text p{
                    margin-left: 4rem;
                    margin-right: 5rem;
                  }
                }

